#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

#container {
  display: grid;
  grid-template-columns: 50% 50%;

}

.rounded-div{
  padding: 20px;
  box-shadow: 0 5px 5px 0 rgb(30, 30, 30);
  border: 1px solid rgb(68, 68, 68);
  border-radius: 15px;
  margin-bottom: 15px;
}

#client-details input {
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  font-family: inherit;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input {
 
  padding: 0.5em;
  font-size: 1em;
  font-family: inherit;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input:focus {
  border-color: #ff9e0c;
  outline: none;
}

.row-item {
  display: grid;
  grid-template-columns: 40% 10% 15% 15% 10%;

  justify-content: space-between;
  padding: 0.5em 0;
}

#add-btn {
  background-color: #ff7700c3;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.25s;
}
.item{
  align-items: center;
  align-content: center;
  border-bottom: 1px solid #4f4f4f;
}

#delete-btn {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #141414;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.25s;
}
#delete-btn:hover {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.25s;
}

#invoice-items {
  font-size: 0.9rem;
}

iframe {
  padding: 20px;
  box-shadow: 0 5px 5px 0 rgb(58, 58, 58);
  border: 3px solid rgb(179, 156, 129);
  border-radius: 15px;
  margin-inline: 15px;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1em;
  color: #ffc265;
}